<% ripe_count = user.critiques.where(is_ripe_banana: true).count %>
<% rotten_count = user.critiques.where(is_ripe_banana: false).count %>
<% is_happy_user = (ripe_count >  rotten_count) %>

<div class="tile is-parent">
  <section class="section">
    <div class="message <%= is_happy_user ? "is-success" : "is-danger" %>">
      <div class="message-body">
        <div class="card-content">
          <div class="columns">
            <div class="column is-one-third">
              <p class="image is-96x96">
                <img src="<%= user.avatar %>" alt="avatar">
              </p>
            </div>
            <div class="column">
              <div class="box <%= is_happy_user ? "avatar-card-happy" : "avatar-card-angry" %>">
                <h1 class="title avatar-card-username"><%= user.username %></h1>
                <h2 class="subtitle">
                  <% if  is_happy_user %>
                    is a happy monkey
                  <% else %>
                    is an angry monkey
                  <% end %>
                </h2>
              </div>
            </div>
          </div>
          <div class="level">
            <div class="level-item has-text-centered">
              <p class="heading review-type-heading">Ripe</p>
              <p class="title review-type-count"><%= ripe_count %></p>
            </div>
            <div class="level-item has-text-centered">
              <p class="heading review-type-heading">Rotten</p>
              <p class="title review-type-count"><%= rotten_count %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>