<div class="box <%= critique.is_ripe_banana ? "critique-ripe" : "critique-rotten"%>">
  <article class="media message <%= critique.is_ripe_banana ? "is-success" : "is-danger"%>">
    <div class="media-left">
      <a href="users/<%= critique.user_id %>">
      <p class="image is-64x64">
        <img src="<%= critique.user.avatar %> alt="avatar">
      </p>
      </a>
    </div>
    <div class="media-content">
      <div class="content">
          <strong class="critique-subject"><%= critique.subject.name %></strong>
          <br/>
          <span class="critique-content"><%= critique.content %></span>
          <br/>
          <br/>
          <span><%= critique.created_at %></span>
      </div>
    </div>
  </article>
</div>