<div class="box critique-box">
    <article class="media message" style="background-color: <%= critique.is_ripe_banana ? "green" : "red"%>">
      <div class="media-left">
        <p class="image is-64x64">
          <img src="<%= @user.avatar %>" alt="avatar">
        </p>
      </div>

      <div class="media-content">
        <div class="content white-text">
          <strong class="white-text critique-subject"><%= critique.subject.name %></strong> 
          <br>
          <p class="critique-content"><%= critique.content %></p>
          <br>
          <small><%= critique.created_at %></small>
          <nav class="level">
            <div class="level-left">
              <a class="level-item" style="color: yellow">
                <%= Vote.where(critique: critique).count %> <span class="icon"><i class="fa fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </div>
      
    </article>
</div>