<section class="section yellow-background">
  <div class="container">
    <div class="tile is-ancestor">

    <!--- CONTAINS THE USER AVATAR AND USERNAME -->
      <div class="tile is-parent">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="<%= @user.avatar %>" alt="">
            </figure>
          </div>
          <div class="card-content brown-background">
            <div class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <img class="mini-avatar-border" src="<%= @user.avatar %>"" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5 yellow-text"><%= @user.username %></p>
                <p class="subtitle is-6 yellow-text"><%= @user.critiques.count %> critiques</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CONTAINS THE MOST RECENT CRITIQUE -->
      <div class="tile is-parent">
        <div class="card is-fullwidth">
          <header class="card-header">
            <p class="card-header-title">
              Most Recent Critique
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <blockquote>
                <%= @most_recent_critique.subject.name %>
                <br>
                <%= @most_recent_critique.content %>
              </blockquote>
              <small><%= @most_recent_critique.created_at.to_date %></small>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<!-- NAVBAR WITH SORTING BUTTONS -->
<nav class="nav is-warning brown-background">
  <div class="container">
    <div class="nav-left nav-menu">
      <span class="nav-item">
          <a class="button yellow-background">
            <span class="sorting-options" style="color: black">Subject</span>
          </a>
          <a class="button yellow-background">
            <span class="sorting-options" style="color: black">Ripe Reviews</span>
          </a>
          <a class="button yellow-background">
            <span class="sorting-options" style="color: black">Rotten Reviews</span>
          </a>
          <a class="button yellow-background">
            <span class="sorting-options" style="color: black">Upvote Count</span>
          </a>
      </span>
    </div>
  </div>
</nav>

<!-- CRITIQUE SECTION -->
<section class="section yellow-background">
  <div class="container">
  <% @user.critiques.each do |critique| %>
    <article class="media message" style="background-color: <%= critique.is_ripe_banana ? "green" : "red"%>">
      <div class="media-left">
        <p class="image is-64x64">
          <img src="<%= @user.avatar %>" alt="avatar">
        </p>
      </div>
      <div class="media-content">
        <div class="content white-text">
          <strong class="white-text critique-subject"><%= critique.subject.name %></strong> 
          <br>
          <p class="critique-content"><%= critique.content %></p>
          <br>
          <small><%= critique.created_at %></small>
          <nav class="level">
            <div class="level-left">
              <a class="level-item" style="color: yellow">
                <%= Vote.where(critique: critique).count %> <span class="icon"><i class="fa fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </article>
  <% end %>
  </div>
</section>