<section class="section">

<section class="section">
<div class="container">
<article class="message is-info">
  <div class="message-header report-title">
    <h2 class="is-medium">Amount of postive comments per subject</h2>
  </div>
  <div class="message-body">
    <%= column_chart Subject.joins(:critiques).where("critiques.is_ripe_banana = 't'").group(:name).count('critiques.subject_id'), ytitle: "Total Likes", library: {backgroundColor: "#EDF7FC"} %>
  </div>
</article>
</div>
</section>

<section class="section">
<div class="container">
<article class="message is-info">
  <div class="message-header report-title">
    <h2>Amount of negative comments per subject</h2>
  </div>
  <div class="message-body">
    <%= column_chart Subject.joins(:critiques).where("critiques.is_ripe_banana = 'f'").group(:name).count('critiques.subject_id'), ytitle: "Total Dislikes", colors: ["DC3912"], library: {backgroundColor: "#EDF7FC"} %>
  </div>
</article>
</div>
</section>

<section class="section">
<div class="container">
<article class="message is-info">
  <div class="message-header report-title">
    <h2>Most Discussed Subjects</h2>
  </div>
  <div class="message-body">
    <%= pie_chart Subject.joins(:critiques).group('subjects.name').count('critiques.subject_id'), library: {backgroundColor: "#EDF7FC", is3D: true, legend: "50px"} %>
  </div>
</article>
</div>
</section>

<section class="section">
<div class="container">
<div class="columns is-multiline is-mobile">
<% Subject.all.each do |subject| %>
		<div class="column is-half">
			<article class="message is-info">
 			 <div class="message-header report-title">
				<h3>Satisfaction with: <%= subject.name %></h3>
			 </div>
  	<div class="message-body">
    <a href="/report/<%= subject.id %>">
			<%= pie_chart Subject.joins(:critiques).where("subjects.name = '#{subject.name}'").group('critiques.is_ripe_banana').count, colors: ["DC3912", "3366CC"], library: {backgroundColor: "#EDF7FC", is3D: true} %>
      </a>
		</div>
</article>
		</div>
<% end %>
</div>
</div>
</section>
  </div>
</section>
</section>