<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">


      <section class="section">
      	<% @critiques.each do |critique| %>
          <%= erb :_critique_wall, locals: { critique: critique } %>
        <% end %>
      </section>
    </div>

    <div class="column">
      <section class="section">
      <div class="message is-info">
        <div class="message-body">
          <div class="card-content">
            <div class="columns">
              <div class="column is-one-third">
                <p class="image is-1by1">
                  <img src="<%= current_user.avatar %>" alt="avatar">
                </p>
              </div>
              <div class="column">
                <div class="box">
                  <h1 class="title"><%= current_user.username %></h1>
                  <h2 class="subtitle">This is an angry monkey.</h2>
                </div>
              </div>
            </div>
            <div class="level">
              <div class="level-item has-text-centered">
                <p class="heading">POSTS</p>
                <p class="title"><%= current_user.critiques.count %></p>
              </div>
              <div class="level-item has-text-centered">
                <p class="heading">VOTED</p>
                <p class="title"><%= current_user.critiques.inject(0) {|sum, critique| sum + critique.votes.count } %></p>
              </div>
              <div class="level-item has-text-centered">
                <p class="heading">VOTES</p>
                <p class="title"><%= current_user.votes.count %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>

      <section class="section">
      <div class="message is-info">
      <div class="message-header">
        Post your feedback!
      </div>
      <div class="message-body">
        <form method="post" action="/critiques" class="new-post-form">
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <label class="label">Banana</label>
          <p class="control">
            <span class="select">
              <select name="banana">
                <option value="true">Ripe Banana</option>
                <option value="false">Rotten Banana</option>
              </select>
            </span>
          </p>
          <label class="label">Subject</label>
          <p class="control">
            <span class="select">
              <select name="subject_id">
                <% Subject.all.each do |subject| %>
                  <option value="<%= subject.id %>" ><%= subject.name %></option>
                <% end %>
              </select>
            </span>
          </p>
          <label class="label">Content</label>
          <p class="control">
            <textarea name="content" class="textarea not-resizable"></textarea>
          </p>
          <p class="control">
            <button class="button is-success">Post</button>
          </p>
        </form>
        </div>
        </div>
      </section>
      <section class="section">
        <div>
          <h3>Top Critique</h3>
        </div>
        <div>
          Most Critiqued
        </div>
      </section>
    </div>
  </div>
</div>
