<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">


      <section class="section">
      <% User.all.each do |user| %>
      	<% user.critiques.each do |critique| %>
      		<% if critique.created_at > Date.today-2%>
            <article class="media message <%= critique.is_ripe_banana ? "is-success" : "is-danger"%>">
              <div class="media-left">
                <p class="image is-64x64">
                  <img src="<%= user.avatar %>" alt="avatar">
                </p>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><%= user.username %></strong> <small><%= critique.created_at %></small>
                    <br/>
                    <%= critique.content %>
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <a class="level-item">
                      <span class="icon "><i class="fa fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                      <span class="icon "><i class="fa fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                      <%= Vote.where(critique: critique).count %> <span class="icon"><i class="fa fa-heart"></i></span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
      		<% end %>
      	<% end %>
      <% end %>
      </section>
    </div>

    <div class="column">
      <section class="section">
        <form method="POST" action="/critiques">
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <label class="label">Banana</label>
          <p class="control">
            <span class="select">
              <select name="banana">
                <option value="true">Ripe Banana</option>
                <option value="false">Rotten Banana</option>
              </select>
            </span>
          </p>
          <label class="label">Subject</label>
          <p class="control">
            <span class="select">
              <select name="subject_id">
                <% Subject.all.each do |subject| %>
                  <option value="<%= subject.id %>" ><%= subject.name %></option>
                <% end %>
              </select>
            </span>
          </p>
          <label class="label">Content</label>
          <p class="control">
            <textarea name="content" class="textarea not-resizable"></textarea>
          </p>
          <p class="control">
            <button class="button is-success">Post</button>
          </p>
        </form>
      </section>
      <section class="section">
        <div>
          <h3>Top Critique</h3>
        </div>
        <div>
          Most Critiqued
        </div>
      </section>
    </div>
  </div>
</div>
